{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card shadow-sm p-4 rounded-3">
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}

                    <h1 class="h3 mb-3 text-center">Créer un compte</h1>

                    {{ form_start(registrationForm) }}

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'id': 'email'}}) }}
                    </div>

                    <div class="mb-3">
                        <label for="plainPassword" class="form-label">Mot de passe</label>
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'id': 'plainPassword'}}) }}
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-lg btn-success" type="submit">
                            S'incrire
                        </button>
                    </div>

                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}